html, body {
	font-family: 'Viga', sans-serif;
}

body{

	height: auto !important;
}



body::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: url(/pattern.webp);
	background-size: cover;
	background-repeat: repeat;
	z-index: -1;
	pointer-events: none;
}